@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @layer responsive {
    .text-shadow-sm {
      text-shadow: -2px 2px 0px rgba(255, 49, 49, 0.8);
    }
    .text-shadow-lg {
      text-shadow: -5px 5px 0px rgba(255, 49, 49, 0.8);
    }
  }
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-container {
  animation: fillIn 0.2s ease-in-out;
}

.animate-links li {
  animation: slideIn 0.3s ease-out;
  animation-delay: calc(0.09s * var(--i));
}

@keyframes slideIn {
  0% {
    transform: translateX(-120vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes fillIn {
  0% {
    transform: translateX(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

/* underline animation */

.hover-underline {
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 1;
  padding: 4px 0;
  transition: transform 0.3s ease-in-out;
}

.hover-underline:hover {
  transform: translateX(25px);
  padding-left: 10px;
  color: #1f1f1f;
  font-weight: 600;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 40px;
  bottom: 0;
  left: 0;
  background-color: #ff3131;
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0%, 96% 100%, 0% 100%);
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
